@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$primary: #fff;
$dark_primary: #283046;
$light_secondary: #7b6ef6;
$danger: #ff0000;
$black: #000000;
$white: #ffffff;
$color_dd: #dddddd;
$color_99: #999999;
$color_f8: #f8f8f8;
$gloabal_width: 1520px;
$borderColor: #323b54;
$primaryBlack: #121829;
$cardBg: #20283e;

// mediaSizes
$mediaSizes: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1500px,
);
.container {
  max-width: $gloabal_width !important;
}
@mixin box_shadow_com {
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.2);
}
@mixin trans3 {
  transition: 0.3s ease-in-out;
}
@mixin all_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  display: none;
}
.btn-cu-lg {
  min-width: 150px;
}
.pointer {
  cursor: pointer;
}
